<ngx-alerts></ngx-alerts>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto headerNav">
      <!-- <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li> -->
      <li class="nav-item" *ngIf="authService.decodedToken === null " >
        <a class="nav-link" [routerLink]="['/login']" routerLinkActive="router-link-active" >Login</a>
      </li>

      <li class="nav-item" *ngIf="authService.decodedToken === null " >
        <a class="nav-link" [routerLink]="['/register']" routerLinkActive="router-link-active" >Register</a>
      </li>

      <li class="nav-item dropdown"  *ngIf="authService.decodedToken?.userName !== null"  dropdown>
        <a class="nav-link dropdown-toggle" dropdownToggle>
          Welcome {{authService.decodedToken?.userName}}
        </a>
        <div class="dropdown-menu dropdown-menu-right" *dropdownMenu
         aria-labelledby="navbarDropdown">
         <a class="dropdown-item" href="#">Reset Password</a>
         <a class="dropdown-item" (click)="logout()">Logout <i class="fas fa-sign-out-alt"></i></a>
        </div>
      </li>

     
    </ul>
   
  </div>
</nav>